
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

header,
footer {
  font-family: 'Nunito', sans-serif;
  background: maroon;
  color: white;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

.site-title-container {
  display: flex;
}

.biz-title {
  margin: 0;
  padding-top: 10px;
  padding-left: 28px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

.material-symbols-outlined.md-24 {
  font-size: 70px;
  margin-left: auto;
  padding-right: 28px;
}

nav {
  display: none;
}

nav.show {
  margin-left: : 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #660000;
  font-size: 1.5rem;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.nav-item:hover {
  background: white;
  color: black;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-item:last-child {
  background-color: dodgerblue;
  border-radius: 5px 5px 0 0;
}

.hide {
  display: none;
}
/* .biz-discription {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background: #1d3030;
  padding-bottom: 4px;
  font-size: 1em;
} */

.hero-container {
  background-image: url(../img/cleaning.jpg);
  background-size: cover;
  background-blend-moNuniton;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 0 25px 0;
}

.hero-span {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  color: white;
  background: maroon;
  font-weight: bold;
  width: 85%;
  margin: 0 auto .5em auto;
  border-radius: 6px;
  padding: 2px;
}


.scroll-down {
  margin: auto;
  padding: 12px 8px;
  width: 70%;
  background: lavender;
  border-radius: 6px;
  color: black;
  font-family: 'Nunito', sans-serif;
  border: 2px #1d3030;
  font-size: 1.25rem;
}

.scroll-down:hover {
  background: white;
  box-shadow: 0px 2px 2px 2px #1d3030;
  opacity: 85%;
  transition: all 0.3s ease;
}

.main-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border-bottom: solid 2px darkgrey;
  width: 70%;
  text-align: center;
  margin: 1em auto;
}

.about-section,
.sevices-section,
.reviews-section,
.contact-section {
  font-size: 1.5rem;
  padding: 0 10px;
  font-family: 'Nunito', sans-serif;
}

.services-list {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
}

.service-item {
  padding-bottom: 20px;
  font-size: 2rem;
  border-radius: 6px;
  color: white;
}


  .s-1,
  .s-2,
  .s-3 {
    background-color: maroon;
    border-radius: 6px;
  }

  .service-section-cont {
    font-family: 'Nunito', sans-serif;
  }
/* .s-1 {
  background: url(../img/cleaning4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.s-2 {
  background: url(../img/cleaning6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.s-3 {
  background: url(../img/cleaning5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

.service-item-title {
  color: white;
  background: maroon;
  /* background: rgba(255, 45, 0, 0.3); */
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 12px;
  font-size: 1.25em;
}

.service-link {
  background-color: white;
  color: black;
  padding: 0 30px;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
}

.service-link:hover {
  padding: 4px;
  border-radius: 4px;
  background: white;
  color: black;
  transition: all 0.3s ease;
}

.service-description-1,
.service-description-2,
.service-description-3 {
  background: rgba(0, 0, 0, 0.5);
  margin: 0 1em;
  padding: 12px;
  border-radius: 6px;
  font-size: .75em;
}

.what-we-can-do {
  font-family: 'Nunito', sans-serif;
  width: 85%;
  margin: 0 auto;
  font-size: 1.5em;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

li {
}
/* service page styles start */

.services-hero-container {
  padding-top: 150px;
}

.services-hero-span {
  background: maroon;
  color: white;
  border-radius: 5px;
}

.main-services-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2em;
}

.service-underline {
  border-bottom: solid 8px maroon;
  width: 50%;
  text-align: left;
}

.service-title {
  font-family: 'Nunito', sans-serif;
  font-size: 1.75em;
  width:
}

.service-page-descrip {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
}

.other-services {
  background: maroon;
  color: white;
  width: 100%;
  height: 85px;
  padding-top: 1em;
  border-radius: 50px;
}

.other-services-descrip {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
  padding: 2em;
}

div.other-services-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2em;
}

/* service page styles end */
.servicespage-link {
  font-size: 1em;
  color: maroon;
}

.gallery-link {
  padding: 1em;
  color: maroon;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.gallery-link:hover {
  font-weight: bold;
  font-size: 1em;
  transition: all 0.3s ease;
}

.carousel {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.carousel-item {
  height: 300px;
  background: grey;
  padding: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: white;
  width: 100%;
  display: none;
  border-radius: 6px;
}

.gal-2-title {
  display: none;
}

#carousel-container {
  width: 70%;
  height: 30%;
  text-align: center;
  margin: 0 auto;
}

#img {
  height: 100%;
  width: 100%;
}

#button-container {
  text-align: center;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#prev-btn-container {
  display: flex;
  flex-direction: column;
}

#nxt-btn-container {
  display: flex;
  flex-direction: column;
}

.underline {
  border-bottom: solid 2px darkgrey;
  width: 50%;
  text-align: center;
  margin: 1em auto;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.fb-review {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.review-link {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  color: black;
}

.sticky-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: maroon;
  padding: 12px;
  position: sticky;
  bottom: 0;
  align-items: center;
}

.sticky-btn {

  font-size: 1.4em;
  font-family: 'Nunito', sans-serif;
  border-radius: 5px;
  width: 60%;
  border: none;
  background: lavender;
  text-decoration: none;
  font-weight: bold;
}

.sticky-btn:hover {
  background: white;
  border: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.sticky-text {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: .5em;
}

.sticky-phone {
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  font-size: 1.75em;
}

/* About Page styles */

.about-page-main {
  margin: 0 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

.about-item {
  border-radius: 50px;
}

/* Booking page styles */

.booking-body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;

}

.form-container {
  margin-top: 6em;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  background: white;
  margin: auto;
  border-radius: 6px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5em;
}

.basic-info-container,
.job-info-container {
  background: white;
  display: flex;
  flex-direction: column;
}

.job-estimator-title,
.basic-info,
.job-info,
.label-title,
option,
.job-frequency {
  font-family: 'Nunito', sans-serif;
}

.label-title {
  font-weight: bold;
}

input {
  background-color: lavender;
  text-align: center;
  border-radius: 3px;
  text-align: left;
  font-size: 1em;
}

input:required {
  border: solid 2px red;
}

select {
  text-align: center;
}

.select-menu {
  width: 50%;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
  margin: 0 auto 1em auto;
}

.job-frequency {
  background: white;
  display: flex;
  flex-direction: column;
}

div.radio-btn-container {
  text-align: left;
  padding-left: 6px;
}

input[type='radio'],
input[type='checkbox'] {
  transform: scale(2);
  margin: 0;
  width: 1em;
}

#cleaning-type {
  font-weight: bold;
  margin-top: 1em;
}

.residential-cleaning,
.move-cleaning {
  margin-top: .75em;
  display: flex;
  flex-direction: column;
}

#bedrooms,
#bathrooms,
#appliances {
  width: 100%;
}

.submit-btn {
  font-size: 1.2em;
  background-color: dodgerblue;
  width: 50%;
  margin: 0 auto;
  border-radius: 6px;
  color: white;
}

.submit-btn:hover {
  background: lightblue;
  font-weight: bold;
}

.res-estimate-btn,
.move-estimate-btn {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.2em;
  background: dodgerblue;
  color: white;
  border-radius: 6px;
  width: 100%;
  margin-top: 1em;
}

.estimate-title {
  margin: 0;
}

.move-cost,
.res-cost {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  color: green;
  font-size: 2em;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.cost-container {
  display: flex;
  justify-content: center;
}

.dollar-sign {
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  color: green;
  font-weight: bold;
  margin-bottom: 0;
}

.price-description,
.party-price-description,
h3 {
  font-family: 'Nunito', sans-serif;
}

.price-description,
.party-price-description {
  margin-top: 0;
  padding: 0 1em;
  text-align: center;
  font-weight: bold;
  font-size: .75em;
}

.booking-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.booking-description,
.booking-phone {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  font-size: 1em;
  padding: .5em;
}

.booking-phone {
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 6px;
  font-size: 1em;
}

.booking-phone:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 12px;
  }

  header,
  footer {
    font-family: 'Nunito', sans-serif;
    background: maroon;
    color: white;
    text-align: center;
  }

  footer {
    font-size: 1.5em;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
  }

  .site-title-container {
    display: flex;
  }

  .biz-title {
    margin: 0;
    padding-left: 28px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
  }

  .material-symbols-outlined.md-24 {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    width: 400px;
    margin-left: auto;
  }

  nav.show {
      margin-left: 0;
      padding: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: #660000;
      font-size: 2rem;
  }

  .nav-item {
    color: white;
    text-decoration: none;
    padding: 0 12px;
  }

  .nav-item:hover {
    background: white;
    color: black;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 6px 6px 0 0;
    transition: all 0.3s ease;
  }


  .hide {
    display: none;
  }

  .hero-span {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
  }

  .scroll-down {
    margin: auto;
    padding: 8px 6px;
    width: 50%;
    background: lavender;
    border-radius: 6px;
    color: black;
    font-family: 'Nunito', sans-serif;
    border: 2px #1d3030;
    font-size: 1.5rem;
  }

  .scroll-down:hover {
    background: white;
    box-shadow: 0px 2px 2px 2px #1d3030;
    opacity: 85%;
    transform: scale(1.25);
    transition: all 0.3s ease;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    border-bottom: solid 2px darkgrey;
    width: 50%;
    text-align: center;
    margin: 1em auto;
  }

  .about-section,
  .sevices-section,
  .reviews-section,
  .contact-section {
    font-size: 1.5rem;
    padding: 0 20px;
    font-family: 'Nunito', sans-serif;
  }

  .services-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
  }

  .service-item {
    padding-bottom: 20px;
    font-size: 2rem;
    border-radius: 6px;
    color: white;
  }


    .s-1,
    .s-2,
    .s-3 {
      background-color: maroon;
      border-radius: 6px;
      width: 80%;
    }

  .service-item-title {
    color: white;
    background: maroon;
    margin-top: .5em;
    padding: 0 12px;
  }

  .service-link {
    background-color: white;
    color: black;
    padding: 0 30px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
  }

  .service-link:hover {
    padding: 4px;
    border-radius: 4px;
    background: white;
    color: black;
    transition: all 0.3s ease;
  }

  .service-description-1,
  .service-description-2,
  .service-description-3 {
    background: rgba(0, 0, 0, 0.5);
    margin: 0 1em;
    padding: 12px;
    border-radius: 6px;
    font-size: .75em;
  }

  .what-we-can-do {
    font-size: 2em;
    text-align: center;
    margin-left: auto;
  }

  .wwcd-item {
    text-align: center;

  }

  /* service page styles start */

  .services-hero-container {
    padding-top: 150px;
  }

  .services-hero-span {
    background: maroon;
    color: white;
    border-radius: 5px;
  }

  .service-page-main {
    font-size: 1em;
  }

  .main-services-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 2em;
  }

  .service-underline {
    border-bottom: solid 8px maroon;
    width: 25%;
    text-align: left;
  }

  .service-title {
    font-family: 'Nunito', sans-serif;
    font-size: 1.75em;
    width:
  }

  .service-page-descrip {
    font-family: 'Nunito', sans-serif;
    font-size: 1.75em;
  }

  .other-services {
    background: maroon;
    color: white;
    width;
    height: 100px;
    padding-top: 1em;
  }

  .other-services-descrip {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    padding: 2em;
  }

  div.other-services-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 2em;
  }

  /* service page styles end */

  .gallery-link {
    padding: 2em;
    color: maroon;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
  }

  .carousel {
    position: relative;
    width: 85%;
    height: 100%;
    margin: auto;
  }

  .carousel-item {
    height: 400px;
    background: grey;
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: white;
    width: 100%;
    display: none;
  }

  .carousel-item-selected {
    display: block;
  }

  .c-1 {
    background-image: url(../img/gallery1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .c-2 {
    background-image: url(../img/gallery2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .c-3 {
    background-image: url(../img/gallery3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .carousel-nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .carousel-button {
    border-radius: 50%;
    height: 25px;
    width: 20px;
    margin: 0 40px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
  }

  .carousel-button-selected {
    background: rgba(255, 255, 255, 0.5);
  }

  .underline {
    border-bottom: solid 2px darkgrey;
    width: 50%;
    text-align: center;
    margin: 1em auto;
  }

  .underline-red {
    border-bottom: solid 2px darkgrey;
    width: 50%;
    text-align: center;
    margin: 1em auto;
  }

  .reviews-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fb-review {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .review-link {
    font-size: 2em;
  }

  .sticky-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background: maroon;
    padding: 20px;
    position: sticky;
    bottom: 0;
    align-items: center;
  }

  .sticky-btn {

    font-size: 1.25em;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    width: 35%;
    border: none;
    background: lavender;
    color: maroon;
    text-decoration: none;
  }

  .sticky-btn:hover {
    background: white;
    border: none;
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  .sticky-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
  }

  .sticky-phone {
    font-size: 1.25em;
    padding: 0 4px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: maroon;
    background: lavender;
  }

  .sticky-phone:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }


  /* About page styles for 600px or larger */

  .about-page-main {
    text-align: left;
  }

  .about-item {
    text-align: left;
    width: 50%;
    border-radius: 2px 40px 2px 2px;
  }

  .about-h1 {
    text-align: center;
  }

  /* Booking page styles */

  .form-container {
    margin-top: 6em;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    background: white;
    width: 90%;
    margin: 5em auto 2em;
    border-radius: 6px;
    margin-bottom: 50px;
    padding-top: 0;
  }

  .basic-info-container,
  .job-info-container {
    background: white;
    display: flex;
    flex-direction: column;
  }

  .basic-info,
  .job-info,
  .label-title,
  option,
  .job-frequency {
    font-family: 'Nunito', sans-serif;
  }

  .label-title {
    font-weight: bold;
    text-align: left;
  }

  input {
    background-color: lavender;
    text-align: center;
    border-radius: 3px;
    text-align: left;
    font-size: 1em;
  }

  input:required {
    border: solid 2px red;
  }

  .select-menu {
    width: 50%;
    font-size: 1.5rem;
    margin: 0 auto 1em 0;
    text-align: left;
  }

  .job-frequency {
    background: white;
    display: flex;
    flex-direction: column;
  }

  input[type='radio'],
  input[type='checkbox'] {
    transform: scale(1.5);
    margin: 0;
    width: 1em;
  }

  #cleaning-type {
    font-weight: bold;
    margin-top: 1em;
  }

  .residential-cleaning,
  .move-cleaning {
    margin-top: .75em;
    display: flex;
    flex-direction: column;
  }

  .submit-btn {
    font-size: 1.2em;
    background-color: dodgerblue;
    width: 50%;
    margin: 0 auto;
    border-radius: 6px;
    color: white;
  }

  .submit-btn:hover {
    background: lightblue;
    font-weight: bold;
  }

  .res-estimate-btn,
  .move-estimate-btn {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1.2em;
    background: dodgerblue;
    color: white;
    border-radius: 6px;
    width: 100%;
    margin-top: 1em;
  }

  .estimate-title {
    margin: 0;
  }

  .move-cost,
  .res-cost {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    color: green;
    font-size: 2em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  .cost-container {
    display: flex;
    justify-content: center;
  }

  .dollar-sign {
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    color: green;
    font-weight: bold;
    margin-bottom: 0;
  }

  .price-description,
  .party-price-description,
  h3 {
    font-family: 'Nunito', sans-serif;
  }

  .price-description,
  .party-price-description {
    margin-top: 0;
    padding: 0 1em;
    text-align: center;
    font-weight: bold;
    font-size: .75em;
  }

  .booking-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .booking-description,
  .booking-phone {
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }

  .booking-phone {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 6px;
  }

  .hide {
    display: none;
  }

}

@media screen and (min-width: 900px) {
  .s-1,
  .s-2,
  .s-3 {
  }

  .about-page-main {
    padding: 2em;
    padding-top: 0;
  }

  .service-page-main {
    padding: 2em;
    padding-top: 0;
  }

  .hide-2 {
    display: none;
  }

  .gal2-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .gal-2-title {
    display: block;
  }

  .g-1,
  .g-2,
  .g-3 {
    margin: 0 auto;
    padding: 0 1em;
    width: 300px;
    height: 300px;
    border: solid 1px black;
  }

  .g-1 {
    background-image: url(../img/gallery1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .g-2 {
    background-image: url(../img/gallery2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .g-3 {
    background-image: url(../img/gallery3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


}
